@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html {
  font-family: "Bebas Neue";
  background-color: #171719;
  color: #fff;
  overflow: hidden;
}

@layer components {
  .outline-title {
    color: transparent;
    -webkit-text-stroke: 1px #fff;
  }
}
